__pycache__
logs
media

.sqlite3

.env
./affMrkt/node_modules
./affmrkt/.vscode
affmrkt_backend/blog/migrations/*
affmrkt_backend/affmrkt_backend/settings.py
affmrkt_backend/mediafiles/site/logo/*
affmrkt_backend/time*
